<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Index Page</h2>


<table>
<tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
    <th>email</th>
    <th>password</th>
</tr>

<tr th:each="user : ${users}">
    <td> <a th:text="${user.getId()}">id</a></td>
    <td> <a th:text="${user.getName()}">name</a></td>
    <td> <a th:text="${user.getAge()}">age</a></td>
    <td> <a th:text="${user.getEmail()}">email</a></td>
    <td> <a th:text="${user.getPassword()}">password</a></td>
    <td> <a th:href="@{/edit/{id}(id=${user.getId()})}">edit</a></td>
    <td> <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}"><input type="submit" value="Delete"/></form></td>
</tr>
</table>

<br/>
<hr/>
<a href="/new">Add new user</a>

</body>
</html>